<html>
<head>
    <title>Auto Open Your App</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../resources/branch.css">
    <link rel="stylesheet" type="text/css" href="../resources/linkCreator.css">
</head>
<body>
<div class="link-creator-outer-shell">
        <div class="branch-icon"></div>
        <div class="branch-form">
            <div class="branch-form-title">Automatically Launch and Deep Link Users To Content in Your App</div>
            <div class="branch-form-description">
                Define <a href="https://docs.branch.io/pages/links/integrate/" target="_blank">the data</a> that you would like to receive once your app is automatically launched on a user's device.
            </div>
            Options
            <div class="link-creator-options">
                <label class="link-creator-option-label">
                    <input type="checkbox" name="checkbox" id="makeNewLink">
                    make_new_link - force creation of a new link even if one already exists
                </label>
            </div>
            <label for="channel">Channel</label>
            <input type="text"
                   id="channel"
                   spellcheck="false"
                   class="branch-form-input"
                   placeholder="eg. Facebook"
                   />
            <label for="campaign">Campaign</label>
            <input type="text"
                   id="campaign"
                   spellcheck="false"
                   class="branch-form-input"
                   placeholder="eg. Weekly Deals"
                   />
            <label for="tags">Tags</label>
            <input type="text"
                   id="tags"
                   spellcheck="false"
                   class="branch-form-input"
                   placeholder="eg. 03-19-2018, sneakers"
                   />
            <div id="link-data">
                <div class="link-data-rows">
                    Deep Link Data
                    <div class="link-data-rows-hook"></div>
                </div>
                <div class="add-more-data">
                    <button class="add-more-data-button" onclick="linkCreator.addRow()">+ More Data</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="footer-text">Questions? We are here to <a href="https://support.branch.io/support/tickets/new" target="_blank">help</a></span>
            <div class="gear-graphic"></div>
        </div>
</div>
<script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
<script src="../resources/linkCreator.js"></script>
<script>
	window.extensionBridge.register({
		init: function(info) {
			if (info.settings && info.settings.autoOpenLink) {
                linkCreator.restoreLinkData(info.settings.autoOpenLink);
			}
		  if (info.settings && info.settings.autoOpenOptions) {
			  linkCreator.restoreOptions(info.settings.autoOpenOptions);
		  }
		},
		getSettings: function() {
			return {
			    autoOpenLink: linkCreator.getLinkTemplate(),
                autoOpenOptions: linkCreator.getOptions()
			}
		},
		validate: function() {
			return linkCreator.isLinkDataValidJSON(linkCreator.getLinkTemplate());
        }
    });
</script>
</body>
</html>
