a {  color: #0075C9;  }
.branch-icon {
    height: 39px;
    width: 106px;
    margin:auto;
    background-image: url("branch_logo_dk.svg");
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.branch-form {
    padding-left: 20px;
    font-family: 'Source Sans Pro Regular', sans-serif;
    background-color: #FFFFFF;
    font-size: 14px;
}
label {
    display:block;
    font-size: 14px;
    padding-bottom: 5px;
    color: #06122F;
    font-family: 'Source Sans Pro Semi-Bold', sans-serif;
}
.branch-form-input-error {
    border: 3px red solid;
}
.branch-form-input-error-text {
    color: red;
}
.error:before {
    width: 20px;
    height: 40px;
    display: block;
    content: "";
    background: url("error.svg") no-repeat;
    float: left;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    margin: 0px 0px 0px 6px;
    font-size: 13px;
    color: #748292;
    top: 45px;
    font-family: Source Sans Pro,sans-serif;
}
.gear-graphic {
    background: url("gear.svg") no-repeat;
    width: 100px;
    height: 100px;
    float: right;
}
.subscription-error-title {
    text-align: center;
    vertical-align: middle;
}
#error-configuration-page {
    visibility: hidden;
}
.branch-form-title {
    font-weight: 600;
    font-size: 16px;
    margin: 10px 10px 10px 0;
    font-family: Source Sans Pro,sans-serif;
}
.branch-form-description {
    margin: 6px 0 20px 0;
    font-size: 15px;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 300;
    color: #3b3e49;
}
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 20px;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="url"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}
p.error {
    margin-top: 5px;
    color: red;
    font-size: 14px;
}

